body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
}

header {
    background-color: #C19A6B;
    color: #fff;
    padding: 25px;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 20px;
}

.nav-bar li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px 20px;
}

footer {
    background-color: #C19A6B;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.project {
    margin-bottom: 40px;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.project img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    margin-bottom: 15px; 
}

.project h3 {
    font-size: 24px; 
    margin-bottom: 10px; 
}

.project p {
    line-height: 1.6; 
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color:#C19A6B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #C19A6B;
}

.display-4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.lead {
    font-size: 16px;
    line-height: 1.5;
}

.img-hero {
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #C19A6B;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #C19A6B;
}

.button-icon {
    margin-right: 10px;
    vertical-align: middle;
    max-width: 20px;
}
.about-me {
    display: flex;
    align-items: center;
}

.img-hero {
    flex: 0 0 auto;
    margin-right: 20px; 
}

.about-text {
    flex: 1;
}
